:root {
    --0: oklch(0.22 0.01 270);
    --100: oklch(0.275 0.01 270);
    --200: oklch(0.375 0.01 270);
    --300: oklch(0.4887 0.01 270);
    --400: oklch(0.5513 0.01 270);
    --500: oklch(0.6498 0.01 270);
    --600: oklch(0.7601 0.0105 270);
    --700: oklch(0.8508 0.0089 270);
    --800: oklch(0.9294 0.0046 270);
    --900: oklch(0.9795 0.0054 270);
    --accent-h: 270;
    --accent-light-c: 0.155;
    --accent-light: oklch(0.7 var(--accent-light-c) var(--accent-h));
    --accent-dark-c: 0.1875;
    --accent-dark: oklch(0.4557 var(--accent-dark-c) var(--accent-h));
    --danger-light: oklch(0.7007 0.0967 29);
    --danger-dark: oklch(0.475 0.1378 29);
    --success-light: oklch(0.7 0.0968 135);
    --success-dark: oklch(0.4761 0.1382 135);
    --warning-light: oklch(0.7 0.0968 89.79);
    --warning-dark: oklch(0.4757 0.0968 89.79);
}
