:root {
    --0: oklch(0.22 0.02 270);
    --100: oklch(0.275 0.0182 270);
    --200: oklch(0.375 0.0163 270);
    --300: oklch(0.4887 0.0152 270);
    --400: oklch(0.5513 0.0133 270);
    --500: oklch(0.6498 0.0109 270);
    --600: oklch(0.7601 0.0105 270);
    --700: oklch(0.8508 0.0089 270);
    --800: oklch(0.9394 0.0046 270);
    --900: oklch(0.9795 0.0054 270);
    --accent-light: oklch(0.7 0.155 270);
    --accent-dark: oklch(0.4557 0.1875 270);
    --danger-light: oklch(0.7007 0.0967 29);
    --danger-dark: oklch(0.475 0.1378 29);
    --success-light: oklch(0.7 0.0968 135);
    --success-dark: oklch(0.4761 0.1382 135);
    --warning-light: oklch(0.7 0.0968 89.79);
    --warning-dark: oklch(0.4757 0.0968 89.79);
}
