@font-face {
    font-family: "Clash Grotesk";
    src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
    font-weight: 100 900;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-Medium.ttf") format("truetype");
    font-weight: 500;
}
