@import "./colors.css";
@import "./themes.css";
@import "fonts.css";

body,
:root {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app {
    padding: 1rem;
}

:root {
    background-color: var(--backdrop);
    color: var(--text);
    font-family: "Barlow";
    font-size: 16px;

    --shadow:
        0px 0.2px 0.3px oklch(from var(--shadow-color) l c h / 0.07),
        0px 0.7px 0.9px -0.1px oklch(from var(--shadow-color) l c h / 0.08),
        0px 1.2px 1.6px -0.3px oklch(from var(--shadow-color) l c h / 0.09),
        0px 1.6px 2.1px -0.4px oklch(from var(--shadow-color) l c h / 0.1),
        0px 2.2px 2.9px -0.6px oklch(from var(--shadow-color) l c h / 0.12),
        0px 3px 3.9px -0.7px oklch(from var(--shadow-color) l c h / 0.13),
        0px 4px 5.3px -0.8px oklch(from var(--shadow-color) l c h / 0.14),
        -0.1px 5.3px 7px -1px oklch(from var(--shadow-color) l c h / 0.16),
        -0.1px 7px 9.2px -1.1px oklch(from var(--shadow-color) l c h / 0.17);
}

/* Style overrides */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
select,
input,
dialog {
    background: unset;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    color: var(--text);
    font-family: "Barlow", sans-serif;
    align-items: center;
    font-weight: initial;
}

/* Containers */

.column {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

/* Anchor */

a {
    font-weight: bold;

    &.no-accent {
        color: var(--text);
    }

    &:not(.no-accent) {
        color: var(--accent);
    }

    &.no-decoration {
        text-decoration: none;
    }

    &:not(.no-decoration) {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 8%;
        text-underline-offset: 12.5%;
        text-underline-position: from-font;
    }
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Clash Grotesk";
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 2%;
}

h1.display {
    font-weight: bold;
    font-size: 4.875rem;
}

h1 {
    font-size: 3.875rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.56rem;
}

h6 {
    font-size: 1.25rem;
}

/* Paragraphs */

p.large {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 1%;
}

/* Tags */

.tag {
    font-family: "IBM Plex Mono";
    font-size: 0.75rem;
    letter-spacing: -2%;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
}

/* Input */
