@import "./colors.css";
@import "./themes.css";
@import "fonts.css";

body,
:root {
    width: 100vw;
    height: 100vh;
}

body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

:root {
    background-color: var(--backdrop);
    color: var(--text);
    font-family: "Barlow";
    font-size: 16px;
}

/* Style overrides */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
select,
input {
    background: unset;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    color: var(--text);
    font-family: "Barlow", sans-serif;
    align-items: center;
}

/* Containers */

.column {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

/* Anchor */

a {
    font-weight: bold;

    &.no-accent {
        color: var(--text);
    }

    &:not(.no-accent) {
        color: var(--accent);
    }

    &.no-decoration {
        text-decoration: none;
    }

    &:not(.no-decoration) {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 8%;
        text-underline-offset: 12.5%;
        text-underline-position: from-font;
    }
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Clash Grotesk";
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 2%;
}

h1.display {
    font-weight: bold;
    font-size: 4.875rem;
}

h1 {
    font-size: 3.875rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.56rem;
}

h6 {
    font-size: 1.25rem;
}

/* Paragraphs */

p.large {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 1%;
}

/* Buttons */

button {
    font-size: 1rem;
    font-weight: bold;
    line-height: 160%;
    letter-spacing: 1%;
}

/* Tags */

.tag {
    font-family: "IBM Plex Mono";
    font-size: 0.87rem;
    letter-spacing: -2%;
    text-transform: uppercase;
    font-weight: 600;
}

/* Input */
